.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: $mainDark;
  border-radius: 0 !important;
  border: 0.1rem $mainDark solid !important;
}

.btn-black:hover {
  background: $mainDark !important;
  color: $mainWhite !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: $mainYellow;
}
