@import "styles/variables";
@import "styles/header";
@import "styles/navigation";
@import "styles/button";
body {
  font-family: $mainFont, sans-serif !important;
  background-color: $mainWhite !important;
  color: $mainDark !important;
}
